.container {
  .wrapper {
    h1{
      text-transform: uppercase;
      letter-spacing: .15rem;
      margin: 0;
      font-size: 98px;
      padding: 0;
      // cursor: pointer;
      color: white;
    }
  }
}
